@charset "UTF-8";

/* ----------------- Font importation from Google Fonts --------------------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i');

/* ----------------------------- Typography --------------------------------- */

html, body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

h1 {
    @include font-size(32);
    padding: 0;
}

h2 {
    @include font-size(24);
}

h3 {
    @include font-size(20.8);
}

h4 {
    @include font-size(14);
}

h5 {
    @include font-size(12.8);
}

h6 {
    @include font-size(11.2);
}

p {
    @include font-size(14);
}

// ------------------------ Font class'es to @extend' --------------------------

// Font mixin, used to set font size of menu elements
@mixin menu-font {
    @include font-size(14);
}

@mixin h1-font {
    @include font-size(35);
}

// Font mixin, used to set font size of second level heading elements
@mixin h2-font {
    @include font-size(24);
}

// Font mixin, used to set font size of second level heading elements
@mixin h3-font {
    @include font-size(20);
}

// Font mixin, used to set font size of breadcrumb
@mixin breadcrumb-font {
    @include font-size(16);
}

// Font mixin, used to set font size of basic elements
@mixin basic-font {
    @include font-size(14);
}

// Font mixin, used to set font size of buttons
@mixin btn-font {
    @include font-size(14);
}

// Font mixin, used to set font size of informational element
@mixin info-font {
    @include font-size(13);
}