@charset "UTF-8";

// --------------------------- Color Variables ---------------------------------

$F : #FFF;

$B : #000;

$clr0 : #000;

$clr1 : #427AA1;

$clr2 : #293241;

$clr3 : #efefef;

$clr4 : #7fabca;

$clr5 : #8c98ab;

$clr6 : #3D5A80;

$clr7 : #EBF2FA;

$danger : #eb8b8a;

$success : #84ce8e;

$warning : #f5e57c;

$default: #AFAFAF;

$primary : #71afda;

$cold : #82b6da;

$warm : #f9ae7f;

$neutral : #C1C1C1;

$dark : #444b54;

$water : #e1ffff;

$orange : #d19b3d;

// ------------------------- Transition variables ------------------------------

$btn-trans : all .3s ease;

$anim : .8s;