/* ----------------- Font importation from Google Fonts --------------------- */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i");
/* ----------------------------- Typography --------------------------------- */
html, body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px; }

h1 {
  font-size: 32px;
  font-size: 2rem;
  padding: 0; }

h2 {
  font-size: 24px;
  font-size: 1.5rem; }

h3 {
  font-size: 20.8px;
  font-size: 1.3rem; }

h4 {
  font-size: 14px;
  font-size: 0.875rem; }

h5 {
  font-size: 12.8px;
  font-size: 0.8rem; }

h6 {
  font-size: 11.2px;
  font-size: 0.7rem; }

p {
  font-size: 14px;
  font-size: 0.875rem; }

@keyframes appear-to-top {
  0% {
    opacity: 0;
    transform: translate(0, 30px); }
  100% {
    opacity: 1;
    transform: translate(0, 0); } }
html, body {
  height: 100%;
  background-size: cover;
  background: url("../images/background-b49889b2e1697a5bef550a6509927ef6.jpg") fixed;
  overflow-x: hidden;
  padding-right: 0 !important; }

.wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px; }

.wrap > .container {
  padding: 20px 15px;
  background: #ffffff;
  margin-left: 14em;
  margin-top: 30px;
  width: calc(100% - 14em); }

#menu_ul {
  height: 30em; }

.footer {
  width: 100%;
  height: 5em;
  color: #ffffff;
  text-align: center;
  position: relative; }

.footer_clock {
  width: 100%;
  height: 5em;
  color: #ffffff;
  text-align: center;
  padding-top: 20px;
  position: relative; }

.jumbotron {
  text-align: center;
  background-color: transparent; }

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px; }

.not-set {
  color: #c55;
  font-style: italic; }

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings', serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  padding-left: 5px; }

a.asc:after {
  content: "\e151"; }

a.desc:after {
  content: "\e152"; }

.sort-numerical a.asc:after {
  content: "\e153"; }

.sort-numerical a.desc:after {
  content: "\e154"; }

.sort-ordinal a.asc:after {
  content: "\e155"; }

.sort-ordinal a.desc:after {
  content: "\e156"; }

.grid-view th {
  white-space: nowrap; }

.hint-block {
  display: block;
  margin-top: 5px;
  color: #999; }

.error-summary {
  color: #a94442;
  background: #fdf7f7;
  border-left: 3px solid #eed3d7;
  padding: 10px 20px;
  margin: 0 0 15px 0; }

/* Custom CSS rules */
.navbar {
  display: none; }

.navbar-nav {
  width: 100%; }

.site-error {
  text-align: center; }

.site-error img {
  max-width: 100%; }

.pagination {
  display: inherit; }

.kv-editable-toggle, .kv-editable-reset, .kv-editable-submit {
  width: 40px;
  height: 30px; }

table thead {
  background-color: #eeeeee; }

.kv-table-caption {
  background-color: #7fabca;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px; }

.table > tbody > tr.info > td {
  background-color: #eeeeee; }

.table-heading {
  text-align: left;
  color: white;
  font-weight: 700; }

.table.unstyle {
  margin-bottom: 25px; }
  .table.unstyle caption {
    border-bottom: solid 1px #a3c3d9;
    background-color: transparent; }
  .table.unstyle thead {
    background-color: transparent; }
    .table.unstyle thead th {
      font-weight: 600;
      padding: 3px 8px;
      color: #8c98ab; }
  .table.unstyle tbody tr {
    background-color: transparent !important; }
    .table.unstyle tbody tr:hover {
      background-color: transparent; }
    .table.unstyle tbody tr td {
      border: none; }

.alert {
  animation: itemAppear 0.8s ease;
  box-shadow: 0 0 5px rgba(68, 75, 84, 0.3); }

.table-in-form {
  margin-bottom: 20px; }
  .table-in-form:before, .table-in-form:after {
    content: "";
    display: table; }
  .table-in-form:after {
    clear: both; }
  .table-in-form .heading {
    border-bottom: none !important;
    font-weight: 600 !important;
    color: #8c98ab !important; }
  .table-in-form .table-form:before, .table-in-form .table-form:after {
    content: "";
    display: table; }
  .table-in-form .table-form:after {
    clear: both; }
  .table-in-form .table-form .item,
  .table-in-form .table-form .item-email,
  .table-in-form .table-form .item-personnel {
    border-bottom: solid 1px #efefef;
    margin-bottom: 20px;
    animation: itemAppear 0.8s ease; }
    .table-in-form .table-form .item:before, .table-in-form .table-form .item:after,
    .table-in-form .table-form .item-email:before,
    .table-in-form .table-form .item-email:after,
    .table-in-form .table-form .item-personnel:before,
    .table-in-form .table-form .item-personnel:after {
      content: "";
      display: table; }
    .table-in-form .table-form .item:after,
    .table-in-form .table-form .item-email:after,
    .table-in-form .table-form .item-personnel:after {
      clear: both; }

.btn {
  font-size: 14px;
  font-size: 0.875rem;
  background-color: #FFF;
  border: solid 1px #C1C1C1;
  padding: 6px 12px;
  color: #444b54;
  transition: all 0.3s ease;
  border-radius: 0;
  font-weight: 600;
  white-space: normal;
  text-transform: uppercase; }

.growl.growl-default {
  background: #2C393A !important;
  border: solid 1px; }

.growl.growl-danger {
  background-color: #F96E6E;
  border-color: #ebccd1; }

.growl.growl-success {
  background-color: #F96E6E;
  border-color: #ebccd1; }

#hiddenForm {
  display: block;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.5s; }

.opened {
  height: 100% !important;
  opacity: 1 !important; }

.btn-primary:hover {
  background-color: #31b0d5;
  box-shadow: 1px 1px 5px #000000; }

.meal_info_detailed {
  max-width: 40%;
  margin-right: 5em;
  display: inline-block; }

.menu_info_detailed {
  margin-right: 5em;
  display: inline-block; }

#hide_button {
  display: none; }

.nav-side-menu {
  position: fixed;
  background: #293241;
  width: 14em;
  height: 100%;
  top: 0;
  overflow-y: auto; }

.nav-side-menu .brand {
  max-width: 50%;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
  padding: 20px 5px;
  margin: auto auto 20px; }

.nav-side-menu .toggle-btn {
  display: none; }

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #545d68;
  color: #e1ffff; }

.nav-side-menu li {
  border-left: 3px solid #444b54;
  border-bottom: 1px solid #23282e;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 100%; }
  .nav-side-menu li:before, .nav-side-menu li:after {
    content: "";
    display: table; }
  .nav-side-menu li:after {
    clear: both; }
  .nav-side-menu li:hover, .nav-side-menu li.highlighted {
    border-left: 3px solid blueviolet;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .nav-side-menu li:hover a, .nav-side-menu li.highlighted a {
      background-color: #545d68;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
  .nav-side-menu li a {
    text-decoration: none;
    color: #e1ffff;
    display: block;
    padding: 11px 0; }
  .nav-side-menu li i {
    display: inline-block;
    width: 40px;
    text-align: center; }
  .nav-side-menu li.dropdown:not(.open):not(.active) .dropdown-menu {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    height: 0 !important; }
.nav-side-menu .dropdown-menu {
  width: 100%;
  display: block;
  background-color: transparent;
  position: relative;
  padding: 0;
  -webkit-box-shadow: 0 0 0 #000;
  -moz-box-shadow: 0 0 0 #000;
  box-shadow: 0 0 0 #000;
  margin: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  overflow: hidden; }
  .nav-side-menu .dropdown-menu li {
    margin: 0; }
    .nav-side-menu .dropdown-menu li a {
      padding: 8px 0; }
    .nav-side-menu .dropdown-menu li:hover {
      border-left: solid 3px #444b54;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      .nav-side-menu .dropdown-menu li:hover a {
        color: #e1ffff; }

@media (max-width: 767px) {
  .nav-side-menu {
    display: none;
    position: relative;
    width: 100%;
    margin-bottom: 10px; }

  #main_header_menu, #main_menu {
    width: 100% !important;
    margin-left: 0 !important; }

  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center; }

  .nav-side-menu .brand {
    display: none;
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important; } }
#main_side_menu .products_submenu {
  padding-left: 2em; }

#main_menu {
  animation: appear-to-top 0.8s ease; }

#main_header_menu {
  background: #f9f9f9;
  height: 5em;
  width: calc(100% - 14em);
  margin-left: 14em; }

#main_header_div {
  height: 100%;
  width: 15em; }

.main_header_button {
  height: 100%;
  background-color: transparent;
  border: none;
  text-align: left; }

.menu_title {
  color: #8495b2;
  margin: 0 0 1em 0;
  padding: 0 0 0 1em;
  display: block;
  font-weight: 700;
  clear: both; }

.modal-dialog.modal-lg {
  padding-top: 20vh; }

.modal-header {
  background-color: #efefef;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700; }

.modal-footer {
  border-top: none; }

#login_form {
  max-width: 40%;
  display: inline-block; }

#meal_form .control-label {
  text-align: left !important; }

#login_image {
  display: inline-block;
  position: absolute;
  margin-left: 5%; }

.nav > li > a:hover, .nav > li > a:focus {
  background-color: #3d4751; }

td {
  vertical-align: middle !important; }
  td.edit-col, td.log-col {
    padding: 0 !important; }
    td.edit-col .glyphicon, td.edit-col .fa, td.log-col .glyphicon, td.log-col .fa {
      text-align: center;
      width: 100%;
      line-height: 35px;
      padding: 0 8px;
      color: #444b54; }
    td.edit-col a, td.edit-col button, td.log-col a, td.log-col button {
      display: block;
      width: 100%;
      padding: 0.3em 0; }
      td.edit-col a .glyphicon, td.edit-col a .fa, td.edit-col button .glyphicon, td.edit-col button .fa, td.log-col a .glyphicon, td.log-col a .fa, td.log-col button .glyphicon, td.log-col button .fa {
        text-align: center;
        width: 100%;
        line-height: 35px;
        padding: 0 8px;
        color: #8c98ab; }
      td.edit-col a:hover, td.edit-col button:hover, td.log-col a:hover, td.log-col button:hover {
        background-color: #7fabca;
        color: #FFF; }
        td.edit-col a:hover .glyphicon, td.edit-col a:hover .fa, td.edit-col button:hover .glyphicon, td.edit-col button:hover .fa, td.log-col a:hover .glyphicon, td.log-col a:hover .fa, td.log-col button:hover .glyphicon, td.log-col button:hover .fa {
          color: #FFF; }

.btn {
  text-transform: uppercase;
  background-color: #FFF;
  font-size: 0.875rem; }

.kv-editable-toggle, .kv-editable-reset, .kv-editable-submit {
  width: initial; }

#login-form .control-label {
  text-align: left !important; }

/*# sourceMappingURL=site.css.map */
