@charset "UTF-8";

@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/typography';

@keyframes appear-to-top {
    0%      { opacity: 0; transform: translate(0, 30px); }
    100%    { opacity: 1; transform: translate(0, 0); }
}

html, body {
    height: 100%;
    background-size: cover;
    background: url('../images/background-b49889b2e1697a5bef550a6509927ef6.jpg') fixed;
    //overflow: visible !important;
    overflow-x: hidden;
    padding-right: 0 !important;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 20px 15px;
    background: #ffffff;
    margin-left: 14em;
    margin-top: 30px;
    width: calc(100% - 14em);
}

#menu_ul {
    height: 30em;
}

.footer {
    width: 100%;
    height: 5em;
    color: #ffffff;
    text-align: center;
    position: relative;
}

.footer_clock {
    width: 100%;
    height: 5em;
    color: #ffffff;
    text-align: center;
    padding-top: 20px;
    position: relative;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings', serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* Custom CSS rules */

.navbar {
    display: none;
}

.navbar-nav {
    width: 100%;
}

.site-error {
    text-align: center;
}

.site-error img {
    max-width: 100%;
}

.pagination {
    display: inherit;
}

.kv-editable-toggle, .kv-editable-reset, .kv-editable-submit {
    width: 40px;
    height: 30px;
}

table thead {
    background-color: #eeeeee;
}

.kv-table-caption {
    background-color: #7fabca;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}

.table > tbody > tr.info > td {
    background-color: #eeeeee;
}

.table-heading {
    text-align: left;
    color: white;
    font-weight: 700;
}

.table {
    &.unstyle {
        margin-bottom: 25px;

        caption {
            border-bottom: solid 1px lighten($clr1, 30%);
            background-color: transparent;
        }

        thead {
            background-color: transparent;

            th {
                font-weight: 600;
                padding: 3px 8px;
                color: $clr5;
            }
        }

        tbody {
            tr {
                background-color: transparent !important;

                &:hover {
                    background-color: transparent;
                }

                td {
                    border: none;
                }
            }
        }
    }
}

.alert {
    animation: itemAppear $anim ease;
    box-shadow: 0 0 5px rgba(68, 75, 84, 0.3);
}

.table-in-form {
    @include clearfix;
    margin-bottom: 20px;

    .heading {
        border-bottom: none !important;
        font-weight: 600 !important;
        color: $clr5 !important;
    }

    .table-form {
        @include clearfix;

        .item,
        .item-email,
        .item-personnel {
            @include clearfix;
            border-bottom: solid 1px $clr3;
            margin-bottom: 20px;
            animation: itemAppear $anim ease;
        }
    }
}

.btn {
    @include btn-font;
    background-color: $F;
    border: solid 1px $neutral;
    padding: 6px 12px;
    color: $dark;
    transition: $btn-trans;
    border-radius: 0;
    font-weight: 600;
    white-space: normal;
    text-transform: uppercase;
}

.growl.growl-default {
    background: #2C393A !important;
    border: solid 1px;
}

.growl.growl-danger {
    background-color: #F96E6E;
    border-color: #ebccd1;
}

.growl.growl-success {
    background-color: #F96E6E;
    border-color: #ebccd1;
}

#hiddenForm {
    display: block;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.5s;
}

.opened {
    height: 100% !important;
    opacity: 1 !important;
}

.btn-primary:hover {
    //background-color: #000000;
    background-color: #31b0d5;
    box-shadow: 1px 1px 5px #000000;
}

.meal_info_detailed {
    max-width: 40%;
    margin-right: 5em;
    display: inline-block;
}

.menu_info_detailed {
    margin-right: 5em;
    display: inline-block;
}

#hide_button {
    display: none;
}

.nav-side-menu {
    position: fixed;
    background: #293241;
    width: 14em;
    height: 100%;
    top: 0;
    overflow-y: auto;
}

.nav-side-menu .brand {
    max-width: 50%;
    line-height: 50px;
    display: block;
    text-align: center;
    font-size: 14px;
    padding: 20px 5px;
    margin: auto auto 20px;
}

.nav-side-menu .toggle-btn {
    display: none;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: lighten($dark, 7%);
    color: $water;
}

.nav-side-menu {
    li {
        border-left: 3px solid $dark;
        border-bottom: 1px solid #23282e;
        @include transition($btn-trans);
        width: 100%;
        @include clearfix();

        &:hover, &.highlighted {
            border-left: 3px solid blueviolet;
            @include transition($btn-trans);

            a {
                background-color: lighten($dark, 7%);
                @include transition($btn-trans);
            }
        }

        a {
            text-decoration: none;
            color: $water;
            display: block;
            padding: 11px 0;
        }

        i {
            display: inline-block;
            width: 40px;
            text-align: center;
        }

        &.dropdown:not(.open):not(.active) {
            .dropdown-menu {
                @include transition($btn-trans);
                height: 0 !important;
            }
        }
    }

    .dropdown-menu {
        width: 100%;
        display: block;
        background-color: transparent;
        position: relative;
        padding: 0;
        @include box-shadow(0,0,0,#000);
        margin: 0;
        @include transition($btn-trans);
        overflow: hidden;

        li {
            margin: 0;

            a {
                padding: 8px 0;
            }

            &:hover {
                border-left: solid 3px $dark;
                @include transition($btn-trans);

                a {
                    color: $water;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .nav-side-menu {
        display: none;
        position: relative;
        width: 100%;
        margin-bottom: 10px;
    }

    #main_header_menu, #main_menu {
        width: 100% !important;
        margin-left: 0 !important;
    }

    .nav-side-menu .toggle-btn {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
        padding: 3px;
        background-color: #ffffff;
        color: #000;
        width: 40px;
        text-align: center;
    }

    .nav-side-menu .brand {
        display: none;
        text-align: left !important;
        font-size: 22px;
        padding-left: 20px;
        line-height: 50px !important;
    }
}

#main_side_menu .products_submenu {
    padding-left: 2em;
}

#main_menu {
    animation: appear-to-top 0.8s ease;
}

#main_header_menu {
    background: #f9f9f9;
    height: 5em;
    width: calc(100% - 14em);
    margin-left: 14em;
}

#main_header_div {
    height: 100%;
    width: 15em;
}

.main_header_button {
    height: 100%;
    background-color: transparent;
    border: none;
    text-align: left;

}

.menu_title {
    color: #8495b2;
    margin: 0 0 1em 0;
    padding: 0 0 0 1em;
    display: block;
    font-weight: 700;
    clear: both;
}

.modal-dialog.modal-lg {
    padding-top: 20vh;
}

.modal-header {
    background-color: #efefef;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
}

.modal-footer {
    border-top: none;
}

#login_form {
    max-width: 40%;
    display: inline-block;
}

#meal_form .control-label {
    text-align: left !important;
}

#login_image {
    display: inline-block;
    position: absolute;
    margin-left: 5%;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: #3d4751;
}

td {
    vertical-align: middle !important;

    &.edit-col, &.log-col {
        padding: 0 !important;

        .glyphicon, .fa {
            text-align: center;
            width: 100%;
            line-height: 35px;
            padding: 0 8px;
            color: $dark;
        }

        a, button {
            display: block;
            width: 100%;
            padding: 0.3em 0;

            .glyphicon, .fa {
                text-align: center;
                width: 100%;
                line-height: 35px;
                padding: 0 8px;
                color: $clr5;
            }

            &:hover {
                background-color: $clr4;
                color: $F;

                .glyphicon, .fa {
                    color: $F;
                }
            }
        }
    }
}

.btn {
    text-transform: uppercase;
    background-color: #FFF;
    font-size: 0.875rem;
}

.kv-editable-toggle, .kv-editable-reset, .kv-editable-submit {
    width: initial;
}

#login-form .control-label {
    text-align: left !important;
}